
.header-btns {
    display: flex;
    flex-direction: column;
    width: 220px;
    background: #FFFFFF;
    border-right: 1px solid #E6EFF5;
    height: 100vh;
    align-items: center;
    padding-top: 20px;
}

.header-btns a {
    text-decoration: none;
}

.btn svg {
    padding-right: 15px;
}

.display-menu {
    display: flex;
}

.btn {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background: #FFFFFF;
    color: #B1B1B1;
    font-weight: 500;
    font-size: 16px;
    width: 150px;
    margin: 10px 0px
}

.btn:hover {
    background: #FFFFFF;
    color: #AEB879 !important;
    font-size: 17px;
}