.total-count {
    background-color: #FFFFFF;
    width: 200px;
    border-radius: 6%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    margin-right: 20px;
    margin-bottom: 10px;
}

.total-count img {
    width: 60px;
    height: 60px;
    position: relative;
    border-radius: 100%;
    margin-right: 15px;
    margin-left: 10px;
}

.total-count p {
    width: 80px;
}

.p-margin-bottom {
    margin-bottom: 1px;
    font-size: 15px;
}

.p-margin-top {
    margin-top: 1px;
    font-weight: 600;
}