.cuadro {
    position: relative;
    width: 200px; /* Puedes ajustar el ancho según tus necesidades */
    height: 200px; /* Puedes ajustar la altura según tus necesidades */
    margin-top: 30px;
    margin-right: 40px;
    margin-left: 40px;

}

.contenedor-imagen img {
    position: relative;
    width: 200px; /* Puedes ajustar el ancho según tus necesidades */
    height: 200px; 
    opacity: 0.9; /* Opacidad de la imagen */
}

.texto-imagen {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    border-radius: 5px;
    color: #F6F6F6;
    background-color: rgba(0, 0, 0, 0.314);
    text-align: center;
}