.nav-style {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100%; /* 80% estaba*/
    margin-left: auto;
    background-color: #AEB879;
}

.btn-logout {
    color: #AEB879;
    border-radius: 100%;
    width: 40px;
    display: flex;
    height: 40px;
    justify-content: center;
    align-items: center;
    border: none;
}

.btn-logout:hover {
    background-color: #F6F6F6;
}

.header-btn {
    margin-right: 3%;
}

.nav-style h1 {
    color: #F6F6F6;
    font-weight: 400;
    font-size: 28px;
}

.img-style {
    width: 60px;
    margin-right: 190px; 
    margin-left: 2%;
}

.h1-img-style {
    display: flex;
    justify-content: flex-start;
    width: 50%;
    align-items: center;
}