.nav-style {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 80%;
    margin-left: auto;
    background-color: #AEB879;
}

.nav-style h1 {
    color: #F6F6F6;
    font-weight: 400;
    font-size: 28px;
    padding-left: 5%;
}

.btn-logout {
    color: #AEB879;
    border-radius: 100%;
    width: 40px;
    display: flex;
    height: 40px;
    justify-content: center;
    align-items: center;
    border: none;
}

.btn-logout:hover {
    background-color: #F6F6F6;
}

.header-btn {
    margin-right: 5%;
}